@using Microsoft.EntityFrameworkCore
@using OdeToFood.Core
@model Restaurant

<div class="panel panel-body">
    <div class="panel-heading">
        <h3>
            @DbLoggerCategory.Model.Name
        </h3>
    </div>
</div>